In [1]:
def sql(s, **dfs):
    config = {'enable_external_access': False}
    con = duckdb.connect(database=':memory:', config=config)

    for tbl_name, df in dfs.items():
        df = pa.Table.from_pandas(df)
        con.register(tbl_name, df)

    s = _get_if_file(s)
    out = con.execute(s).df()

    return out

In [2]:
def db(**dfs):
    config = {'enable_external_access': False}
    con = duckdb.connect(database=':memory:', config=config)

    for tbl_name, df in dfs.items():
        df = pa.Table.from_pandas(df)
        con.register(tbl_name, df)

    return con

In [30]:
import duckdb
import pyarrow as pa


class Database:
    def __init__(self, **dfs):
        con = duckdb.connect(
            database = ':memory:',
            config = {'enable_external_access': False},
        )
    
        for tbl_name, df in dfs.items():
            df = pa.Table.from_pandas(df)
            con.register(tbl_name, df)

        self._con = con

    def __repr__(self):
        return 'pdx.Database:'
        """
        df = db._con.execute('SHOW ALL TABLES').df()
        for row in df.iterrows():
            row
        row[1]

        row[1]['name']

        row[1]['column_names']

        probably also want length
        """

    def sql(self, s):
        # s = _get_if_file(s)
        out = self._con.execute(s).df()
        return out

In [31]:
import pdx

In [37]:
iris = pdx.data.get_iris()

In [38]:
db = Database(iris=iris)

In [34]:
df = db._con.execute('SHOW ALL TABLES').df()

In [39]:
db.sql("""
select * from iris
""")

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [14]:
for row in df.iterrows():
    row

In [25]:
row[1]

database                                                     temp
schema                                                       main
name                                                         iris
column_names    [sepal_length, sepal_width, petal_length, peta...
column_types            [DOUBLE, DOUBLE, DOUBLE, DOUBLE, VARCHAR]
temporary                                                    True
Name: 0, dtype: object

In [24]:
row[1]['name']

'iris'

In [27]:
row[1]['column_names']

array(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'], dtype=object)