# "FROM-first" syntax in DuckDB

https://duckdb.org/2022/11/14/announcing-duckdb-060.html

In [1]:
import pdx
print(pdx.__version__)

0.3.0

In [2]:
iris = pdx.data.get_iris()
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [3]:
# `from tbl` is automatically inserted ahead of the `where` expression
# the `select` clause is optional, defaulting to `select *`
iris.sql('where sepal_length > 5.0')

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             5.4          3.9           1.7          0.4     setosa
2             5.4          3.7           1.5          0.2     setosa
3             5.8          4.0           1.2          0.2     setosa
4             5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
113           6.7          3.0           5.2          2.3  virginica
114           6.3          2.5           5.0          1.9  virginica
115           6.5          3.0           5.2          2.0  virginica
116           6.2          3.4           5.4          2.3  virginica
117           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

In [4]:
iris.sql('select avg(sepal_length)').asitem()

5.843333333333335

In [5]:
iris.sql('select avg(sepal_length) where sepal_length < 6.0').asitem()

5.224096385542169

In [6]:
iris.sql('select avg(sepal_length) where sepal_length > 6.0').asitem()

6.670491803278686