In [1]:
import pdx

In [2]:
iris = pdx.data.get_iris()

In [3]:
bah = iris.sql('select avg(sepal_length), avg(sepal_width) from tbl')
bah

   avg(sepal_length)  avg(sepal_width)
0           5.843333          3.057333

In [4]:
bah.aslist()

[5.843333333333335, 3.057333333333334]

In [5]:
bah.aslist()

[5.843333333333335, 3.057333333333334]

In [7]:
bah.asdict()

{'avg(sepal_length)': 5.843333333333335, 'avg(sepal_width)': 3.057333333333334}

In [8]:
iris.prql('take 1').asdict()

{'sepal_length': 5.1,
 'sepal_width': 3.5,
 'petal_length': 1.4,
 'petal_width': 0.2,
 'species': 'setosa'}

In [9]:
bah = iris.sql('select species from tbl group by 1')
bah

      species
0      setosa
1  versicolor
2   virginica

In [10]:
bah.aslist()

['setosa', 'versicolor', 'virginica']

In [11]:
df2 = iris.sql('select species, avg(sepal_length) as val from tbl group by 1')
df2

      species    val
0      setosa  5.006
1  versicolor  5.936
2   virginica  6.588

In [12]:
df2.cols2dict()

{'setosa': 5.005999999999999,
 'versicolor': 5.936,
 'virginica': 6.587999999999998}